html,
body {
    height: 100%;
    touch-action: none;
    overscroll-behavior: none;
}

body {
    margin: 0;
    background: #0c0826;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
canvas {
    display: block;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    image-rendering: pixelated;
    border: 2px solid #4d3180;
}
:root:fullscreen canvas{
    border: none;
}
